<div class="row home">
  <div class="col s12 center">
    <%= image_tag 'self-avatar.png', class: 'circle' %>
    <p class="title">John J. Vehr <small> { Full Stack Software Developer }</small></p>
    <div class="row">
      <div class="col s12 m6 l6 center self-icon">
        <a href="#" id="showLeftPush"><%= image_tag 'gentleman.png' %></a>
      </div>
      <div class="col s12 m6 l6 center self-icon">
        <a href="#" id="showRightPush"><%= image_tag 'code.png' %></a>
      </div>
    </div>
  </div>
</div>


<footer>
  <p>Jackson Hole, WY <i class="material-icons">flight</i> Charlotte, NC</p>
</footer>
